/* heading.css */

.heading-container {
  display: flex;
  align-items: center;
  margin: 50px 20px;
}

.heading-image {
  height: auto;
  max-width: 100%;
  margin-right: 20px;
}

.heading-content {
  flex: 1;
}

@media (max-width: 768px) {
  .heading-container {
    flex-direction: column;
    margin: 20px;
  }

  .heading-image {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
