/* items.css */
.items-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-card {
  flex-basis: calc(33.33% - 40px);
  max-width: calc(33.33% - 40px);
  margin: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .item-card {
    flex-basis: calc(50% - 40px);
    max-width: calc(50% - 40px);
  }
}

@media (max-width: 768px) {
  .item-card {
    flex-basis: calc(100% - 40px);
    max-width: calc(100% - 40px);
  }
}
