/* catalogitems.css */

.catalog-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 100px;
}

.catalog-item {
  width: 100%;
  max-width: 300px;
  margin-right: 20px;
}

/* Media query for larger screens */
@media screen and (min-width: 768px) {
  .catalog-item {
    width: calc(25% - 20px);
  }
}
