/* navbar.css */
.logo {
  margin-right: 16px;
  height: 50px;
  width: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-link {
  margin: 0 10px;
}

.navbar-link a {
  color: inherit;
  text-decoration: none;
}
