.footer-container {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.left-content,
.center-content,
.right-content {
  flex-basis: 33.3%;
}

.left-content p {
  text-align: left;
}

.center-content {
  text-align: center;
}

.center-content img {
  height: 50px;
  width: auto;
}

.right-content {
  display: flex;
  justify-content: flex-end;
}

#facebook {
  color: #2f55a4;
}

#twitter {
  color: #1da1f2;
}

#instagram {
  color: #bc2a8d;
}

#pinterest {
  color: #e60023;
}

.copyright {
  margin: 20px;
  text-align: center;
}
